+CXD56_UART0=y
+CXD56_UART0_BAUD=115200
+CXD56_UART0_FLOWCONTROL=y
+EXTERNALS_ELTRES_DEBUG_INFO=y
+EXAMPLES_ELTRES_CALC_DISTANCE=y
+EXAMPLES_ELTRES_CALC_DISTANCE_OUTPUT_JSON=y
+EXAMPLES_ELTRES_CALC_DISTANCE_TEST=y
+EXAMPLES_ELTRES_CALC_DISTANCE_UNIT_TEST_CORE=y
+EXAMPLES_ELTRES_CALC_DISTANCE_UNIT_TEST_PORT=y
+EXAMPLES_ELTRES_EEPROM=y
+EXTERNALS_ELTRES=y
